@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Custom scrollbar to match the aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #FFC107;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0a800;
}

.dark ::-webkit-scrollbar-track {
  background: #222;
}
